{% extends base_template_name %}
{% block content %}
{% if not user.is_authenticated %}
<h1>Homepage</h1>
{% endif %}
{% if user.is_authenticated %}
<div class="top-container">
    <h1>Homepage</h1>
    <div id="help">
        <i class="fa-solid fa-question" style="font-size: 20px;"></i>
    </div>
</div>
{% endif %}
<table class="table table-striped table-hover" id="ups_table">
    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Threshold</th>
                        <th>Battery</th>
                        <th>Load</th>
                    </tr>
    </thead>
    <tbody>
    {% if user.is_authenticated %}
    {% for ups, ups_info in ups_list.items %}
    <tr>
    <td>
        <div class="dropdown">
            <div onclick="toggleDropdown(this)" class="dropbtn">{{ ups_info.ups }}</div>
                <div class="dropdown-content">
                    <a href="{{ base_url }}{{ ups }}">Get data</a>
                    <a href="{{ base_url }}/config/{{ ups }}">Configuration</a>
                </div>
            </div>
        </div>
    </td>
        <td>{{ ups_info.description }}</td>
        <td>{{ ups_info.status|safe }}</td>
        <td>{{ ups_info.batterylow }}%</td>
    <td><progress id="{{ ups }}_bat" value="{{ ups_info.battery }}" max="100"> {{ ups_info.battery }}% </progress>&nbsp;{{ ups_info.battery }}%</td>
    <td><progress id="{{ ups }}_load" value="{{ ups_info.load }}" max="100"> {{ ups_info.load }}% </progress>&nbsp;{{ ups_info.load }}%</td>
    </tr>
    {% endfor %}
    {% else %}
    {% for ups, ups_info in ups_list.items %}
    <tr>
    <td><div class="dropbtn"><a href="{{ base_url }}{{ ups }}">{{ ups }}</a></div></td>
        <td>{{ ups_info.description }}</td>
        <td>{{ ups_info.status|safe }}</td>
        <td>{{ ups_info.batterylow }}%</td>
    <td><progress id="{{ ups }}_bat" value="{{ ups_info.battery }}" max="100"> {{ ups_info.battery }}% </progress>&nbsp;{{ ups_info.battery }}%</td>
    <td><progress id="{{ ups }}_load" value="{{ ups_info.load }}" max="100"> {{ ups_info.load }}% </progress>&nbsp;{{ ups_info.load }}%</td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10-dev/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" charset="utf8" src="{{ base_url }}/static/js/refresh.js"></script>
<script type="text/javascript">
    $(function(){
        $("#ups_table").dataTable({
            language: {
                info: ""
            }
        });
    });
</script>
{% endblock %}